/* colors: FFFFFA   0D5C63   44A1A0   78CDD7   247B7B figure out how to get phone alone to work, then make ok for desktop, 
but given format, defenitly secondary, use nayansmuek.com for that*/

body {
  background-color: #564F6F;
  font-family: Verdana, sans-serif;
}

h1 {
  margin: 3vw auto;
  padding-top: 3vw;
  padding-bottom: 3vw;
  text-align: center;
  /*background-image: linear-gradient(to bottom right, #CB2D6F, #501F3A);*/
  background-color: #2D283E;
  color: #802BB1;
  border: 3px solid #0F292F;
  font-size: 8vh;
  border-radius: 2vw;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  width: 94%;
}
a:link {
    color:  #802BB1;
    text-decoration: none;
}
a:visited {
    color:  #802BB1;
    text-decoration: none;
}


h2 {
  font-size: 4vh;
  text-align: center;
  margin: 3vw auto;
  margin-bottom: 0;
}

img {
  margin: 3vw auto;
  border: 3px solid #0F292F;
  font-size: 8vh;
  border-radius: 2vw;
  overflow: hidden;
  width: 90%;
  /* height: 45vw; */
 }

.swiper {
  width: 100%;
  height:35%;
  /* height: 300px; */
}

.swiper-slide img {
  display: block;
  width: 95%;
  /* height: 30vh; */
  object-fit: cover;
}

.swiper-button-prev{
  margin-left:2vh;
}
.swiper-button-next{
  margin-right:2vh;
}





/* @media screen and (orientation:portrait) {}
@media screen and (orientation:landscape) {
  h1 {
    font-size: 8vw;
  }
  body {
    background-color: red;
  }
} */