/* colors: FFFFFA   0D5C63   44A1A0   78CDD7   247B7B */

body {
  background-color: #CAE7B9;
}

h1 {
  margin: 3vw;
  padding-top: 3vw;
  padding-bottom: 3vw;
  text-align: center;
  background-color: #FEE12B;
  color: #7E7F9A;
  border: 3px solid green;
  font-size: 9.5vh;
  border-radius: 2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

}
a:link {
    color:  #7E7F9A;
    text-decoration: none;
}
a:visited {
    color:  #7E7F9A;
    text-decoration: none;
}